<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content-title">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="content-title">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="content-title">
    <%= f.label :cost %><br>
    <%= f.number_field :cost, min:1, :class => "black" %>
  </div>

  <!-- Group selection prompt will only appear if chore was not created through a group -->
  <div class="content-title">
  <% if @group %>
    <!-- Pass which group a reward belongs to if the user creates it from within a group. -->
    <%= f.hidden_field :group_id, value: @group.id %>
  <% else %>
      <%= f.label "Group", :class => "txt2" %><br>
    <%= f.select :group_id, options_from_collection_for_select(Group.active_user_groups(current_user.id), 'id', 'name', f.object.group_id)%>
  <% end %>
  </div>  <!-- Group selection prompt will only appear if chore was not created through a group -->

  <div class="content-title">
      <%= f.hidden_field :claimed_time, value: Date.today %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success btn-xlg margin-left margin-top" %>
  </div>
<% end %>
