<%= link_to "Reards and Punishments Index", rewardpunishments_url %>

<h1><%= @rewardpunishment.title %></h1>
<div><%= "Type:" %></div>
<div><%= bool_to_glyph(@rewardpunishment.rorp) %></div>
<div><%= "Value:" %></div>
<div><%= @rewardpunishment.value %></div>
<div><%= @rewardpunishment.description %></div>

<%= link_to "Edit Reward or Punishment", edit_rewardpunishment_path(@rewardpunishment) %>

<%= link_to "Delete Reward or Punishment", rewardpunishment_path(@rewardpunishment),
  method: :delete, data: {confirm: "Are you sure?"} %>
