<%= stylesheet_link_tag 'chores' %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <div class="jumbotron">
                    <h1> <%= @group.name %></h1>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                       <p id="notice"><%= notice %></p>

                    <div class = "choreContent padding">
                        <h1>Search/Invite Users</h1>
                        <!-- form_tag add_group_member_path(:id => @group.id), method: :put do -->
                        <!-- SEARCH FOR USERS TO INVITE -->
                        <%= form_tag @group, :method => 'get' do %>
                          <p>
                              <%= text_field_tag :search, params[:search], :class => "content-title", placeholder: "Search Users" %>
                            <%= submit_tag "Search", :class => "btn btn-primary btn-lg ", :name => nil %>
                          </p>
                        <% end %>


                        <!-- TABLE FOR USER SEARCH RESULTS -->
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th colspan="3"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @users_search.each do |user| %>
                            <tr>
                              <td><%= user.first_name + " " + user.last_name %></td>
                              <td><%= link_to 'Invite',
                              invite_member_path(invite: {
                                user_id: user.id,
                                group_id: @group.id,
                                  sender_id: current_user.id}), :class => "btn btn-success btn-lg ", method: :post %></td>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                        <%= link_to 'Edit', edit_group_path(@group), :class => "btn btn-info btn-lg " %>
                        <%= link_to 'Back', groups_path, :class => "btn btn-warning  btn-lg" %>
                    </div><br><br>
                    </div>

                <div class="col-lg-7 margin-top">
                    <div class = "choreContent padding">
                        <h2>Group Members</h2>
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Admin</th>
                              <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @group.users.each do |user| %>
                              <% @membership = Membership.search(user.id, @group.id).first %>
                              <% next if @membership.active == false %>
                              <tr>
                                <td class="txt3"><%= user.first_name + " " + user.last_name %></td>
                                <td class="txt3"><%= @membership.admin %></td>
                                <td><%= link_to 'View Profile', user_url(user.id), :class => "btn btn-info btn-lg" %></td>
                                <% if Membership.search(current_user.id, params[:id]).first != nil && @membership.admin != true%>
                                <td><%= link_to 'Banish', remove_group_member_path(@group, :user_id => user.id, :group_id => @group.id), :class => "btn btn-danger btn-lg margin-left", data: { confirm: 'Are you sure?' } %></td>
                                <% end %>
                              </tr>
                            <% end %>
                          </tbody>
                        </table> <br>
                    </div><br>
                    </div>
                </div>

                <div class = "row">
                    <div class="col-lg-12">
                    <div class = "choreContent padding">
                        <h2>Whose Chores To Do</h2>
                        <% if Membership.search(current_user.id, @group.id).first != nil && Membership.search(current_user.id, @group.id).first.active == true %>
                          <%= link_to 'Assign Chore', new_chore_path(group_id: @group.id), :class => "btn btn-success btn-lg" %>
                        <% end %>
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Date</th>
                              <th>Person Responsible</th>
                              <th>Up Next</th>
                              <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @group.chores.sort {|a,b| a.date <=> b.date }.each do |chore| %>
                              <% next if chore.complete == true %>
                              <% if User.exists?(chore.user_id) %>
                                <% @user_name = User.find(chore.user_id).first_name %>
                              <% else %>
                                <% @user_name = 'None' %>
                              <% end %>
                              <tr>
                                <td class="txt3"><%= chore.name %></td>
                                <td class="txt3"><%= chore.date %></td>
                                <td class="txt3"><%= @user_name %></td>

                                <% @member_order = ChoreRotation.member_order(chore.id) %>
                                <% if @member_order.size > 1%>
                                  <td class="txt3"><%=  @member_order[1].first_name %></td>
                                <% elsif @member_order.size == 1 %>
                                  <td class="txt3"><%= @member_order[0].first_name %></td>
                                <% else %>
                                  <td class="txt3"></td>
                                <% end %>

                                <% if Membership.search(current_user.id, params[:id]).first != nil && Membership.search(current_user.id, params[:id]).first.active == true%>
                                <td><%= link_to 'Show', chore_url(chore.id, from: group_url(@group.id)), :class => "btn btn-info btn-lg" %></td>
                                <td><%= link_to 'Edit', edit_chore_path(chore, from: group_url(@group.id)), :class => "btn btn-info btn-lg" %></td>
                                <td><%= link_to 'Complete', chore_complete_path(chore, from: group_url(@group.id)), :class => "btn btn-success btn-lg" %> </td>
                                <% end %>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                        </div><br>
                    </div>
                </div>

                <div class = "row">
                    <div class="col-lg-12">
                    <div class = "choreContent padding">
                        <h2>Completed</h2>
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Person Responsible</th>
                                <th></th>
                                  <th></th>
                                  <th></th>
                              </tr>
                            </thead>
                          <tbody>
                          <% @group.chores.sort {|a,b| a.date <=> b.date }.each do |chore| %>
                            <% next if chore.complete == false %>
                            <% if User.exists?(chore.user_id) %>
                              <% @name = User.find(chore.user_id).first_name %>
                            <% else %>
                              <% @name = 'None' %>
                            <% end %>
                            <tr>
                              <td class="txt3"><%= chore.name %></td>
                              <td class="txt3"><%= chore.date %></td>
                              <td class="txt3"><%= @name %></td>
                              <% if Membership.search(current_user.id, params[:id]).first != nil && Membership.search(current_user.id, params[:id]).first.active == true%>
                              <td><%= link_to 'Show', chore_url(chore.id, from: group_url(@group.id)), :class => "btn btn-info btn-lg" %></td>
                              <td><%= link_to 'Edit', edit_chore_path(chore, from: group_url(@group.id)), :class => "btn btn-info btn-lg" %></td>
                              <td><%= link_to 'Destroy', chore_url(chore.id, from: group_url(@group.id)), :class => "btn btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>

                              <% end %>
                              </tr>
                            <% end %>
                            </tbody>
                          </table>
                        </div><br>
                    </div>
                </div>
                </div>

                        <% if Membership.search(current_user.id, @group.id).first != nil && Membership.search(current_user.id, @group.id).first.active == true%>
                          <%= link_to 'Rewards', group_rewards_path(@group.id), :class => "btn btn-success btn-xlg margin-left" %> <br> <br>
                        <% end %>


                    </div>

            </div>

        <!-- /#page-content-wrapper -->


    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
