

<%= stylesheet_link_tag 'welcome' %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Whose Chore</title>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body class="login">
<!-- header starts here -->
<div id="facebook-Bar">
  <div id="facebook-Frame">
    <div id="logo"> <a href="#">Whose Chore</a> </div>
    <div id="header-main-right">
      <div id="header-main-right-nav">
        <form method="post" action="" id="login_form" name="login_form">
          <table border="0" style="border:none">
            <tr>
            <div id=loginnav>
            <%= form_for(:session, url: login_path) do |f| %>
                <%= f.email_field :email, :placeholder => "Email" %>
                <%= f.password_field :password, :placeholder => "Password" %>
                <%= f.submit "Log in", class: "btn-submit" %>
            <% end %>
            </div>
            </tr>
            <tr>
              <td><label>
                  <span style="color:#ccc;">email</span></label></td>
              <td><label><a href="" style="color:#ccc; text-decoration:none">password</a></label></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- header ends here -->
<div class="loginbox radius" style="float: right">
  <h2 style="color:#141823; text-align:center;">Welcome to Whose Chore</h2>
  <div class="loginboxinner radius">
    <div class="loginheader">
      <h4 class="title">Keep your house clean.</h4>
    </div>
    <!--loginheader-->
    <div class="loginform">
        <%= render "users/new" %>
          <button class="radius title" name="signup">Sign Up for Whose Chore</button>
        </p>
      </form>
    </div>
    <!--loginform-->
  </div>
  <!--loginboxinner-->
</div>
<!--loginbox-->
</body>
</html>
