<%= stylesheet_link_tag 'welcome' %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Whose Chore</title>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body class="login">
<!-- header starts here -->
<div id="facebook-Bar">
  <div id="facebook-Frame">
    <div id="logo"> <a href="#">Whose Chore</a> </div>
    <div id="header-main-right">
      <div id="header-main-right-nav">
            <div class="loginnav">
            <%= form_for(:session, url: '/') do |f| %>
                <%= f.email_field :email, :placeholder => "Email" %>
                <%= f.password_field :password, :placeholder => "Password" %>
                <%= f.submit "Log in", class: "btn-submit" %>
            <% end %>
            </div>
      </div>
    </div>
  </div>
</div>
<!-- header ends here -->
<div class="loginbox radius" style="float: right">
  <h1 style="color:#141823; text-align:center;">Signing up is free and easy</h1>
  <div class="loginboxinner radius">
    <div class="loginheader">
      <h4 class="title">Keep your house clean.</h4>
      <h5 id="notice"><%= notice %></h5>
    </div>
    <!--loginheader-->
    <div class="loginform">
        <%= render "users/new" %>
    </div>
    <!--loginform-->
  </div>
  <!--loginboxinner-->
</div>
<!-- ABOUT WHOSE CHORE -->
<div class="loginbox radius" style="float: left">
  <h1 style="color:#141823; text-align:center;">Whose Chore</h1>
  <div class="loginboxinner radius">
    <div class="loginheader">
      <h4 class="title">Where the chores get done and the points don't matter!</h4>
    </div>
  </div>
</div>
<!-- END ABOUT -->

<!--loginbox-->
</body>
</html>
