<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

<div class = "padding">
  <div class="field-name">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="content-title">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="content-title">
    <%= f.label :score %><br>
    <%= f.select :score, 1.. 10, :class => "black" %>
  </div>

  <div class="content-title">
    <%= f.label :date %><br>
    <%= f.select :date, Date.today.. 2.week.from_now %>
  </div>

  <% if @group %>
    <% @admin = Membership.search(current_user.id, @group.id).first.admin %>
  <% else %>
    <% @admin = false %>
  <% end %>

  <% if @admin %>
  <div class="content-title">
      <%= f.label "Person Responsible" %> <br>
      <%#@group = Group.find(@chore.group_id)%>
      <%= f.select :user_id, options_from_collection_for_select(@users, 'id', 'first_name', f.object.user_id)%>
  </div>
  <% else %>
    <!-- User id defaults to current user if not admin -->
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <!-- Group selection prompt will only appear if chore was not created through a group -->
  <div class="content-title">
  <% if @group %>
    <!-- Pass which group a chore belongs to if the user creates it from within a group. -->
    <%= f.hidden_field :group_id, value: @group.id %>
  <% else %>
    <%= f.label "Group", :class => "black" %><br>
    <%= f.select :group_id, options_from_collection_for_select(Group.active_user_groups(current_user.id), 'id', 'name', f.object.group_id)%>
  <% end %>
  </div>

  <div class="content-title">
    <%= f.label "Repeat Days" %><br>
    <%= f.number_field :repeat_days, min: 0 %>
  </div>
</div>

  <div class="actions">
      <%= f.submit :class => "btn btn-success btn-xlg margin-left" %>
  </div>
<% end %>
