<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </div>

  <div class="field">
    <%= f.label :Date %><br>
    <%= f.text_field :Date %>
  </div>

  <div class="field">
    <%= f.label "Group" %>
    <%= f.select :group_id, options_from_collection_for_select(current_user.groups, 'id', 'name', f.object.group_id)%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
