<%= stylesheet_link_tag 'chores' %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation library for notifications   -->
    <link href="assets/stylesheets/animate.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

          <p id="notice"><%= notice %></p>

          <h1>Listing Chores</h1>

          <p> To do </p>


						<table>
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>Date</th>
						      <th>Group</th>
                  <th>Score</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>

						  <tbody>
						    <% current_user.chores.sort {|a,b| a.date <=> b.date }.each do |chore| %>
						      <% next if chore.complete == true %>
						        <% if Group.exists?(chore.group_id) %>
						          <% @name = Group.find(chore.group_id).name %>
						        <% else %>
						          <% @name = 'None' %>
						        <% end %>
						      <tr>
						        <td><%= chore.name %></td>
						        <td><%= chore.date %></td>
                    <td><%= chore.score %></td>
						        <td><%= @name %></td>
                    <td><%= link_to 'Show', chore_url(chore.id,from: chores_url) %></td>
                    <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
                    <td><%= link_to 'Complete', chore_complete_path(chore, from: chores_url) %> </td>
						      </tr>
						    <% end %>
						  </tbody>
						</table> <br>

						<%= link_to 'New Chore', new_chore_path %> <br> <br>

            <td><%= link_to 'Clear Chore History', destroy_all_completed_path(user_id: current_user.id), method: :destroy_all_completed, data: { confirm: 'Are you sure?' } %></td>

						<p>Completed</p>
						<table>
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>Date</th>
						      <th>Group</th>
                  <th>Score</th>
						      <th colspan="3"></th>
						    </tr>
						  </thead>

						  <tbody>
						<% current_user.chores.sort {|a,b| a.date <=> b.date }.each do |chore| %>
						  <% next if chore.complete == false %>
						    <% if Group.exists?(chore.group_id) %>
						      <% @name = Group.find(chore.group_id).name %>
						    <% else %>
						      <% @name = 'None' %>
						    <% end %>
						  <tr>
						    <td><%= chore.name %></td>
						    <td><%= chore.date %></td>
                <td><%= chore.score %></td>
						    <td><%= @name %></td>
                <td><%= link_to 'Show', chore_url(chore.id,from: chores_url) %></td>
                <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
                <td><%= link_to 'Destroy', chore_url(chore.id, from: chores_url), method: :destroy, data: { confirm: 'Are you sure?' } %></td>
						  </tr>
						<% end %>
						</tbody>
						</table>
						<br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- list -->
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Chores To-Do</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox" checked="">
                                                    </label>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox" checked="">
                                                    </label>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Read "Following makes Medium better"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Unfollow 5 enemies from twitter</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
        <!-- list end -->

    </div>
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/javascripts/bootstrap-checkbox-radio-switch.js"></script>


</body>

</html>
