<%= stylesheet_link_tag 'chores' %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row choreContent">
                    <div class="col-lg-12">
                      <p id="notice"><%= notice %></p>

                        <p class="txt3">
                          <strong>Name:</strong>
                          <%= @chore.name %>
                        </p>

                        <p class="txt3">
                          <strong>Description:</strong>
                          <%= @chore.description %>
                        </p>

                        <p class="txt3">
                          <strong>Chore Score:</strong>
                          <%= @chore.score %>
                        </p>

                        <p class="txt3">
                          <strong>Date:</strong>
                          <%= @chore.date %>
                        </p>

                        <% if Group.exists?(@chore.group_id) %>
                          <% @name = Group.find(@chore.group_id).name %>
                        <% else %>
                          <% @name = 'None' %>
                        <% end %>

                        <p class="txt3">
                          <strong>Group:</strong>
                          <td><%= @name %></td>
                        </p>

                        <% if User.exists?(@chore.user_id) %>
                          <% @name = User.find(@chore.user_id).first_name %>
                        <% else %>
                          <% @name = 'None' %>
                        <% end %>

                        <p class="txt3">
                          <strong>Person Responsible:</strong>
                          <td><%=@name %></td>
                        </p>

                        <% if @chore.complete == true %>
                          <% @name = "yes" %>
                        <% else %>
                          <% @name = "no" %>
                        <% end %>

                        <p class="txt3">
                          <strong>Complete?:</strong>
                          <td><%=@name %></td>
                        </p>

                        <%= link_to 'Back', params[:from], :class => "btn btn-4 btn-4d icon-arrow-left color-4" %>


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
