<%= stylesheet_link_tag 'profile' %>

<html>
  <head>
		<link rel="stylesheet" type="text/CSS" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="portfoliocard">
		<div class="coverphoto"></div>
		<div class="profile_picture"></div>
		<div class="left_col">
			<div class="followers">
				<div class="follow_count">Household</div>
        <!-- Shows a list of the groups that the user is in -->
        <% @user.groups.each do |group| %>
            <%= link_to group.name, group %>
        <% end %>
			</div>
			<div class="following">
				<div class="follow_count">Chore of the week</div>
				Dishes
			</div>
		</div>
		<div class="right_col">
			<h2 class="name"><%= current_user.first_name + current_user.last_name %></h2>
			<h3 class="location"><%= current_user.email %></h3>
			<ul class="contact_information">
				<li class="work">Student</li>
				<li class="website"><a class="nostyle" href="#">4th year</a></li>
				<li class="mail">Computer Science</li>
				<li class="phone">1-(732)-757-2923</li>
			</ul>
			<%= link_to "Chores", chores_path %>
			<%= link_to "Groups", groups_path %>
			<%= link_to "Rewards/Punishments", rewardpunishments_path %>
		</div>
		</div>
	</body>
</html>
