<!DOCTYPE html>
<html>
<head>
  <title>Whose Chores</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="crouton">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h3>
                        Hello, <%= current_user.first_name %>
                    </h3>
                    </li>
                    <li>
                        <%= link_to "Main", hub_path(current_user.hub.id) %>
                    </li>
                    <li>
                        <%= link_to "Chores", chores_path %>
                    </li>
                    <li>
                        <%= link_to "Groups", groups_path %>
                    </li>
                    <li>
                        <%= link_to "Rewards/Punishments", rewardpunishments_path %>
                    </li>
                    <li>
                        <%= link_to "Profile", profile_path(current_user.profile.id) %>
                    </li>
                    <li>
                        <%= link_to "Log out", logout_path, method: "delete" %>
                    </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                </div>
            </div>
      </div>
</div>


<%= yield %>

</body>
</html>
