<!DOCTYPE html>
<html>
<head>
  <title>Whose Chores</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="crouton">
<% if current_user %>
  <ul>
    <li>
    <p>Logged in as: </p>
    <%= current_user.email %>
    </li>
    <!--Don't know why this works-->  
    <li><%= link_to "Profile", profile_path(current_user), method: "get" %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>
<% else %>
  <ul>
  	<li><%= link_to "Home", '/' %></a></li>
    <li><%= link_to "Login", '/login' %></a></li>
    <li><%= link_to "Signup", '/signup' %></a></li>
  </ul>
<% end %>
</div>


<%= yield %>

</body>
</html>
